.categories {
  &__top {
    background-color: #fff;
    text-transform: uppercase;
    h2 {
      font-size: 18px;
      font-weight: 500;
    }
  }
  &:hover .slick-next,
  &:hover .slick-prev {
    font-size: 25px;
    padding: 0.5rem 1.7rem;
  }
}

.category {
  // list
  &__list {
    list-style: none;
  }

  &__group {
    background-color: #fff;
    &-link {
      color: $text-black;
      text-decoration: none;
      font-size: $font-14;
      text-align: center;
    }
    &-item {
      height: 15rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 0.5px solid $bg-main;
      box-sizing: unset;
      transition: animateName(all);
      &:hover {
        // border: 0.5px solid $bg-main;
        box-shadow: $shadow-item;
        border-color: rgba(0, 0, 0, 0.12);
      }
      img {
        width: 83px;
        height: 88px;
        object-fit: contain;
      }
      &-name {
        margin: 0 0.5rem 1rem;
        // word-break: break-all;
      }
    }
  }
}
