.header {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  background: $background-header;
  color: $text-white;
  font-size: $font-13;
  &__navbar {
    display: flex;
    justify-content: space-between;
    &-list {
      list-style: none;
      display: flex;
    }
    &-item {
      position: relative;
      margin: 0 4px;
      padding: 8px 4px;
      min-height: 3.6rem;
      display: inline-flex;
      align-items: center;
      & > span {
        margin-right: 8px;
        cursor: initial;
      }
      span,
      &-no-hover {
        color: $text-white;
      }
      &:hover,
      &:hover > a {
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
      }
      &-separation::after {
        content: "";
        position: absolute;
        height: 1.6rem;
        border-left: 1px solid;
        top: 30%;
        transform: translateX(0.5rem);
        right: 0;
      }
      & > a {
        text-decoration: none;
        color: $text-white;
        display: inline-flex;
        align-items: center;
      }
      i {
        font-size: 18px;
      }
      &-has-qr:hover .header__qr {
        display: block;
      }
    }
    &-icon {
      margin-right: 8px;
    }
  }
  &__qr {
    position: absolute;
    display: none;
    border-radius: $rounded-3;
    box-shadow: $shadow;
    background-color: $text-white;
    padding: 5px;
    top: 140%;
    width: 18rem;
    animation: animateName(fadeIn);
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 30px;
      top: -10%;
      right: 0;
    }
    &-download {
      padding: 0 15px 5px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      a {
        width: calc(7rem - 0.4rem);
        margin-top: 5px;
      }
    }
  }

  // thông báo
  .header__navbar-item:hover > .header__notify {
    visibility: visible;
    transform: scale(1);
    transition: animateName(all);
  }

  &__notify {
    background-color: #fff;
    transform-origin: calc(100% - 50px) top;
    visibility: hidden;
    transform: scale(0);
    transition: animateName(all);
    width: 40rem;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: $rounded-3;
    box-shadow: $shadow;
    z-index: 999;
    &::before {
      content: "";
      position: absolute;
      top: -28px;
      right: 25px;
      border-width: 2rem 3rem;
      border-style: solid;
      border-color: transparent transparent#fff transparent;
    }
    &-header {
      cursor: default;
      user-select: none;
      font-size: $font-14;
      & > span {
        color: rgba(0, 0, 0, 0.6);
        display: inline-block;
        padding: 10px;
      }
    }
    &-item {
      padding: 8px 10px;
      background-color: #fff;
      &:hover {
        background-color: #fafafa;
        transition: animateName(all);
      }
      &-viewed {
        background-color: #fef1ee;
      }
    }
    &-link {
      text-decoration: none;
      color: $text-black;
      font-size: $font-14;
      display: flex;
      align-items: center;
    }
    &-info {
      flex: 1;
      margin-left: 10px;
    }
    &-img {
      width: 4rem;
      height: 4rem;
    }
    // list
    &-list {
      list-style: none;
    }
    &-name {
      color: $text-black !important;
      line-height: 1.5;
    }
    &-description {
      font-size: $font-12;
      color: rgba(0, 0, 0, 0.8);
      line-height: 1.5;
    }

    &-load-all {
      a {
        width: 100%;
        line-height: 4rem;
        font-size: $font-14;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        color: $text-black;
        background-color: #fafafa;
      }
    }
  }
}

// header have search
.header {
  &-have-search {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 10px;
  }
  &__logo {
    width: 20%;
    &-img {
      width: 14.6rem;
    }
  }
  &__search {
    width: 85%;
    &-inner {
      box-shadow: $shadow;
      border-radius: $rounded-2;
      padding: 3px 3px 3px 15px;
      display: flex;
      justify-content: space-between;
      background-color: #fff;
    }
    input {
      flex: 1;
    }
    &-button {
      background-color: $orange;
      height: 34px;
      display: flex;
      justify-content: center;
      padding: 0 20px;
      font-size: 1.8rem;
      cursor: pointer;
      align-items: center;
      border-radius: $rounded-2;
      color: #fff;
    }
  }
  &__cart {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-inner {
      position: relative;
      display: inline;
      padding-right: 1.6rem;
      &:hover > .header__cart-list {
        visibility: visible;
        transform: scale(1);
        transition: animateName(all);
      }
    }
    &-link {
      display: inline-block;
      color: #fff;
      font-size: 3rem;
    }
    &-list {
      transition: animateName(all);
      box-shadow: $shadow;
      border-radius: $rounded-3;
      right: 0;
      top: 4rem;
      position: absolute;
      width: 40rem;
      height: 30rem;
      background-color: #fff;
      // animation: animateName(grow);
      transform-origin: calc(100% - 30px) top;
      transform: scale(0);
      visibility: visible;
      &::before {
        content: "";
        position: absolute;
        top: -28px;
        right: 0;
        border-width: 2rem 3rem;
        border-style: solid;
        border-color: transparent transparent#fff transparent;
      }
    }
  }
}

// header bottom
.header__navbar-bottom {
  display: flex;
  background-color: transparent;
  list-style: none;
  font-size: $font-12;
  margin: 5px 0;
  &-item {
    a {
      color: $text-white;
      text-decoration: none;
      font-weight: 300;
    }
  }
  &-item + &-item {
    margin-right: 1rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header__search-inner-camera {
  display: none;
}
