*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button,
input {
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.gird__row {
  display: flex;
  flex-wrap: wrap;
}

.content {
  background-color: #f5f5f5;
}

main {
  margin-top: 15rem;
  padding-bottom: 50px;
  background-color: #f5f5f5;
}

.mt-20 {
  margin-top: 2rem;
}

.slider-1 .slick-next,
.slider-1 .slick-prev {
  opacity: 0;
  transition: all 0.4s linear;
  visibility: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  z-index: 10;
  font-size: 25px;
  padding: 1.5rem 1rem;
  cursor: pointer;
}
.slider-1 .slick-next:hover,
.slider-1 .slick-prev:hover {
  background-color: rgba(0, 0, 0, 0.35);
}
.slider-1 .slick-prev {
  border-radius: 0 2px 2px 0;
}
.slider-1 .slick-next {
  border-radius: 2px 0px 0px 2px;
  right: 0;
}
.slider-1 .slick-dots {
  list-style: none;
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 1rem;
  transform: translateY(-3rem);
}
.slider-1 .slick-dots button {
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.4);
  border: rgba(138, 138, 138, 0.8);
  border-radius: 100rem;
  width: 1rem;
  height: 1rem;
}
.slider-1 .slick-dots .slick-active button {
  background-color: rgba(0, 0, 0, 0.4);
}

.slider-2 .slick-next,
.slider-2 .slick-prev {
  opacity: 1;
  transition: all 0.1s linear;
  visibility: visible;
  position: absolute;
  top: 50%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 9999px;
  color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  font-size: 1.2rem;
  padding: 0.5rem 1.1rem;
  cursor: pointer;
}
.slider-2 .slick-next {
  right: 0;
  transform: translate(50%, -50%);
}
.slider-2 .slick-prev {
  transform: translate(-50%, -50%);
}
.slider-2 .slick-disabled {
  opacity: 0;
  visibility: hidden;
}

.image-product img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-ad {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-section__left {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.top-section__right a {
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 400;
  padding: 5px 7px;
}
.top-section__right a i {
  transform: translateY(1px);
}

.text-gray {
  color: rgba(0, 0, 0, 0.54);
}

.text-orange-light {
  color: #ee4d2d;
}

.text-orange-bold {
  color: #d0011b;
}

.mr-2 {
  margin-right: 2px;
}

.p-20 {
  padding: 2rem;
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.discount {
  position: absolute;
  top: 0;
  right: 4px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
.discount__percent,
.discount span {
  z-index: 10;
}
.discount__percent {
  color: #ee4d2d;
  padding-top: 3px;
}
.discount span {
  color: #fff;
  text-transform: uppercase;
}

.discount-draw-lager {
  font-size: 16px;
}
.discount-draw-lager__percent,
.discount-draw-lager span {
  line-height: 20px;
}
.discount-draw-lager::after {
  content: "";
  position: absolute;
  border-width: 43px 25px 6px 25px;
  border-style: solid;
  border-color: #ffd424 #ffd424 transparent #ffd424;
  z-index: 9;
}

.discount-draw-small {
  font-size: 1.2rem;
}
.discount-draw-small__percent,
.discount-draw-small span {
  line-height: 10px;
}
.discount-draw-small::after {
  content: "";
  position: absolute;
  border-width: 35px 20px 6px 20px;
  border-style: solid;
  border-color: #ffd424 #ffd424 transparent #ffd424;
  z-index: 9;
}

.favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  padding: 0 5px;
  color: #fb5533;
  background-color: currentColor;
  z-index: 9;
  border-radius: 0px 2px 2px 0;
}
.favourite span {
  color: #fff;
  font-size: 1.2rem;
}
.favourite::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  filter: brightness(60%);
  border-top: 4px solid currentColor;
  border-left: 4px solid transparent;
}

.separation::after {
  content: "";
  position: absolute;
  left: 0;
  height: 15px;
  border-right: 1px solid;
  border-right-color: rgba(0, 0, 0, 0.2);
}

.model.active,
.layer.active {
  display: none;
}

.model-ad.active {
  display: block;
}

.header {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  background: linear-gradient(-180deg, #f53d2d, #f63);
  color: #fff;
  font-size: 1.3rem;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__navbar-list {
  list-style: none;
  display: flex;
}
.header__navbar-item {
  position: relative;
  margin: 0 4px;
  padding: 8px 4px;
  min-height: 3.6rem;
  display: inline-flex;
  align-items: center;
}
.header__navbar-item > span {
  margin-right: 8px;
  cursor: initial;
}
.header__navbar-item span, .header__navbar-item-no-hover {
  color: #fff;
}
.header__navbar-item:hover, .header__navbar-item:hover > a {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.header__navbar-item-separation::after {
  content: "";
  position: absolute;
  height: 1.6rem;
  border-left: 1px solid;
  top: 30%;
  transform: translateX(0.5rem);
  right: 0;
}
.header__navbar-item > a {
  text-decoration: none;
  color: #fff;
  display: inline-flex;
  align-items: center;
}
.header__navbar-item i {
  font-size: 18px;
}
.header__navbar-item-has-qr:hover .header__qr {
  display: block;
}
.header__navbar-icon {
  margin-right: 8px;
}
.header__qr {
  position: absolute;
  display: none;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
  padding: 5px;
  top: 140%;
  width: 18rem;
  animation: fadeIn 0.15s linear;
}
.header__qr::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 30px;
  top: -10%;
  right: 0;
}
.header__qr-download {
  padding: 0 15px 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__qr-download a {
  width: calc(7rem - 0.4rem);
  margin-top: 5px;
}
.header .header__navbar-item:hover > .header__notify {
  visibility: visible;
  transform: scale(1);
  transition: all 0.15s linear;
}
.header__notify {
  background-color: #fff;
  transform-origin: calc(100% - 50px) top;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.15s linear;
  width: 40rem;
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 999;
}
.header__notify::before {
  content: "";
  position: absolute;
  top: -28px;
  right: 25px;
  border-width: 2rem 3rem;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
.header__notify-header {
  cursor: default;
  user-select: none;
  font-size: 1.4rem;
}
.header__notify-header > span {
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 10px;
}
.header__notify-item {
  padding: 8px 10px;
  background-color: #fff;
}
.header__notify-item:hover {
  background-color: #fafafa;
  transition: all 0.15s linear;
}
.header__notify-item-viewed {
  background-color: #fef1ee;
}
.header__notify-link {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
.header__notify-info {
  flex: 1;
  margin-left: 10px;
}
.header__notify-img {
  width: 4rem;
  height: 4rem;
}
.header__notify-list {
  list-style: none;
}
.header__notify-name {
  color: #000 !important;
  line-height: 1.5;
}
.header__notify-description {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5;
}
.header__notify-load-all a {
  width: 100%;
  line-height: 4rem;
  font-size: 1.4rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #fafafa;
}

.header-have-search {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 10px;
}
.header__logo {
  width: 20%;
}
.header__logo-img {
  width: 14.6rem;
}
.header__search {
  width: 85%;
}
.header__search-inner {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.2rem;
  padding: 3px 3px 3px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.header__search input {
  flex: 1;
}
.header__search-button {
  background-color: #fb5533;
  height: 34px;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  font-size: 1.8rem;
  cursor: pointer;
  align-items: center;
  border-radius: 0.2rem;
  color: #fff;
}
.header__cart {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__cart-inner {
  position: relative;
  display: inline;
  padding-right: 1.6rem;
}
.header__cart-inner:hover > .header__cart-list {
  visibility: visible;
  transform: scale(1);
  transition: all 0.15s linear;
}
.header__cart-link {
  display: inline-block;
  color: #fff;
  font-size: 3rem;
}
.header__cart-list {
  transition: all 0.15s linear;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.3rem;
  right: 0;
  top: 4rem;
  position: absolute;
  width: 40rem;
  height: 30rem;
  background-color: #fff;
  transform-origin: calc(100% - 30px) top;
  transform: scale(0);
  visibility: visible;
}
.header__cart-list::before {
  content: "";
  position: absolute;
  top: -28px;
  right: 0;
  border-width: 2rem 3rem;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.header__navbar-bottom {
  display: flex;
  background-color: transparent;
  list-style: none;
  font-size: 1.2rem;
  margin: 5px 0;
}
.header__navbar-bottom-item a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}
.header__navbar-bottom-item + .header__navbar-bottom-item {
  margin-right: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header__search-inner-camera {
  display: none;
}

.banner {
  background-color: #fff;
}
.banner__top {
  display: flex;
  justify-content: space-between;
}
.banner__carousel {
  width: calc(100% / 3 * 2 - 3px);
}
.banner__carousel-list {
  list-style: none;
  height: 235px;
}
.banner__carousel-list:hover .slick-next, .banner__carousel-list:hover .slick-prev {
  visibility: visible;
  transition: all 0.4s linear;
  opacity: 1;
}
.banner__carousel-item {
  width: 797px;
  height: 235px;
}
.banner__carousel-item img {
  width: 797px;
  height: 235px;
  object-fit: cover;
  border-radius: 0.3rem;
}
.banner__right {
  width: calc(100% / 3 - 2px);
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
}
.banner__right-item {
  height: 115px;
}
.banner__right-item img {
  border-radius: 0.3rem;
  height: 115px;
  width: 100%;
}
.banner .slick-next,
.banner .slick-prev {
  opacity: 0;
  transition: all 0.4s linear;
  visibility: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  z-index: 10;
  font-size: 25px;
  padding: 1.5rem 1rem;
  cursor: pointer;
}
.banner .slick-next:hover,
.banner .slick-prev:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

.banner__bottom-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-self: center;
}
.banner__bottom-item {
  width: calc(100% / 8);
  padding: 2rem 0 1rem;
  transition: transform 0.15s linear;
}
.banner__bottom-item:hover {
  transition: all 0.15s linear;
  transform: translateY(-0.2rem);
}
.banner__bottom-item a {
  color: #000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px 0;
  font-size: 1.3rem;
}
.banner__bottom-item a span {
  text-align: center;
}
.banner__bottom-item img {
  width: 45px;
  height: 45px;
}

.banner-simple {
  display: flex;
  justify-content: center;
}

.categories__top {
  background-color: #fff;
  text-transform: uppercase;
}
.categories__top h2 {
  font-size: 18px;
  font-weight: 500;
}
.categories:hover .slick-next, .categories:hover .slick-prev {
  font-size: 25px;
  padding: 0.5rem 1.7rem;
}

.category__list {
  list-style: none;
}
.category__group {
  background-color: #fff;
}
.category__group-link {
  color: #000;
  text-decoration: none;
  font-size: 1.4rem;
  text-align: center;
}
.category__group-item {
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid #f5f5f5;
  box-sizing: unset;
  transition: all 0.15s linear;
}
.category__group-item:hover {
  box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.12);
}
.category__group-item img {
  width: 83px;
  height: 88px;
  object-fit: contain;
}
.category__group-item-name {
  margin: 0 0.5rem 1rem;
}

.flash-sale {
  background-color: #fff;
}
.flash-sale__header-left {
  display: flex;
  align-items: center;
  gap: 0 2rem;
}
.flash-sale__img {
  width: 13rem;
  height: 3rem;
  object-fit: contain;
}
.flash-sale__countdown {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.flash-sale .coutdown-hour, .flash-sale .coutdown-minute, .flash-sale .coutdown-second {
  background-color: #000;
  padding: 0 4px;
  height: 18px;
  display: inline-block;
}

.flash-sale__list {
  list-style: none;
}
.flash-sale__list:hover .slick-next, .flash-sale__list:hover .slick-prev {
  font-size: 25px;
  padding: 0.5rem 1.7rem;
}
.flash-sale__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.flash-sale__image {
  width: 173px;
  height: 173px;
  position: relative;
}
.flash-sale__info {
  padding: 5px 15px 15px;
  text-align: center;
  width: 100%;
}
.flash-sale__price {
  color: #ee4d2d;
  font-size: 22px;
  font-weight: 400;
}
.flash-sale__price span {
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: underline;
  transform: translateY(-4px);
}
.flash-sale__sold {
  background-color: #ee4d2d83;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  width: 100%;
  border-radius: 9999px;
  position: relative;
}
.flash-sale__sold::after {
  content: "";
  position: absolute;
  background-color: #ee4d2d;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  border-radius: 9999px 0 0 9999px;
}

.shop-mail {
  background-color: #fff;
}
.shop-mail__header {
  border-bottom: 2px solid #f5f5f5;
}
.shop-mail__header-title {
  text-decoration: none;
}
.shop-mail__header-left, .shop-mail__header-mail, .shop-mail__header-mail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop-mail__header-mail {
  padding-left: 1.5rem;
  gap: 0 15px;
  font-size: 16px;
  color: #333333;
  margin-left: 1.5rem;
}
.shop-mail__header-mail-item img {
  height: 17px;
  width: 17px;
  margin-right: 5px;
}
.shop-mail__header-right a i {
  font-size: 18px;
  margin-left: 5px;
  transform: translateY(-1px);
}
.shop-mail__separation {
  position: relative;
}
.shop-mail__separation::after {
  position: absolute;
  left: -1.5rem;
  content: "";
  height: 1.9rem;
  border: 1px solid rgba(251, 84, 51, 0.3);
}

.shop-mail__slider {
  display: flex;
}
.shop-mail__ad {
  padding: 1rem 0 0 1rem;
  width: 400px;
  height: 472px;
}
.shop-mail__ad-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.shop-mail__ad:hover .slick-next, .shop-mail__ad:hover .slick-prev {
  visibility: visible;
  transition: all 0.4s linear;
  opacity: 1;
}
.shop-mail__promotion {
  width: 80rem;
}
.shop-mail__promotion .promotion-group__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 236px;
  padding: 1rem;
}
.shop-mail__promotion .promotion-group__item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #d0011b;
}
.shop-mail__promotion .promotion-group__item a i {
  font-size: 20px;
  margin-left: 5px;
  transform: translateY(1px);
}
.shop-mail__promotion .promotion-group__item img {
  width: 100%;
  object-fit: contain;
}
.shop-mail__promotion .promotion-group__item span {
  display: inline-block;
  font-size: 16px;
  transform: translateY(-30px);
}
.shop-mail__promotion:hover .slick-next, .shop-mail__promotion:hover .slick-prev {
  font-size: 25px;
  padding: 0.5rem 1.7rem;
}

.search-trends {
  background-color: #fff;
}

.search-trends__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-trends__item {
  width: calc(100% / 5);
  border: 1px solid #f5f5f5;
}
.search-trends__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding-right: 1rem;
}
.search-trends__info {
  padding: 2rem 1rem 2rem 2rem;
}
.search-trends__info-name {
  font-size: 1.4rem;
  color: #222222;
}
.search-trends__info-amount {
  color: #757575;
  font-size: 1.3rem;
}
.search-trends__img {
  width: 99.56px;
  height: 99.56px;
  object-fit: contain;
}

.top-search {
  background-color: #fff;
}
.top-search__list {
  list-style: none;
  border-top: 2px solid #f5f5f5;
}
.top-search__list:hover .slick-next, .top-search__list:hover .slick-prev {
  font-size: 25px;
  padding: 0.5rem 1.7rem;
}
.top-search__link {
  text-decoration: none;
  color: #000;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
}
.top-search__img {
  position: relative;
}
.top-search__img img {
  width: 18rem;
  height: 18rem;
  object-fit: contain;
}
.top-search__sales {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 5px;
  font-size: 1.4rem;
  line-height: 25px;
  background-color: rgba(0, 0, 0, 0.26);
  color: #fff;
  text-align: center;
}
.top-search__name {
  font-size: 18px;
  color: #555;
}
.top-search .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 40px;
  z-index: 9999;
}
.top-search .top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.today-suggestions__top {
  margin-bottom: 5px;
  background-color: #fff;
  color: #d0011b;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 12rem;
  z-index: 999;
}
.today-suggestions__top-bt {
  height: 4px;
  width: 100%;
  background-color: #fb5533;
}
.today-suggestions__title {
  padding: 15px;
  color: #fb5533;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

.today-suggestions__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
}
.today-suggestions__link {
  text-decoration: none;
}
.today-suggestions__item {
  width: calc(100% / 6);
  height: 282px;
  padding: 0 5px;
}
.today-suggestions__image {
  position: relative;
  max-width: 188px;
  height: 188px;
}
.today-suggestions__content {
  padding: 8px 8px 0px;
}
.today-suggestions__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.today-suggestions__info-name {
  font-size: 1.2rem;
  color: #000;
  line-height: 14px;
}
.today-suggestions__info-voucher {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  color: #f69113;
}
.today-suggestions__info-voucher .info-voucher__left {
  position: relative;
}
.today-suggestions__info-voucher span {
  color: #fff;
  font-weight: 500;
  padding: 2px 3px;
  background-color: #f69113;
}
.today-suggestions__info-voucher .voucher-svg-right,
.today-suggestions__info-voucher .voucher-svg-left {
  width: 10px;
  height: 17px;
  position: absolute;
  top: -2px;
}
.today-suggestions__info-voucher .voucher-svg-left {
  left: -5px;
}
.today-suggestions__info-voucher .voucher-svg-right {
  right: -5px;
}

.today-suggestions__bottom {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.today-suggestions__bottom-price {
  font-size: 16px;
  color: #fb5533;
}
.today-suggestions__bottom-price .bottom-price-d {
  font-size: 10px;
  text-decoration: underline;
  display: inline-block;
  transform: translate(4px, -2.5px);
}
.today-suggestions__bottom-sold {
  color: #757575;
  font-size: 1.2rem;
}

.today-suggestions__link {
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  gap: 0 20px;
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.05);
}
.today-suggestions__link:hover {
  z-index: 1;
}
.today-suggestions__link:hover {
  transform: translateY(-2px);
  transition: all 0.15s linear;
  z-index: 99;
}
.today-suggestions__link:hover .today-suggestions__border, .today-suggestions__link:hover .today-suggestions__hover {
  visibility: visible;
  transition: all 0.15s linear;
}
.today-suggestions__border {
  visibility: hidden;
  position: absolute;
  top: -1px;
  right: -1px;
  left: -1px;
  bottom: -1px;
  border: 1px solid #fb5533;
  transition: all 0.15s linear;
}
.today-suggestions__hover {
  transition: all 0.15s linear;
  visibility: hidden;
  position: absolute;
  bottom: -25px;
  left: -1px;
  right: -1px;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
  padding: 5px 10px;
  background-color: #fb5533;
  z-index: 99;
}

.today-suggestions__more {
  text-align: center;
  margin-top: 30px;
}
.today-suggestions__more a {
  text-decoration: none;
  color: #555555;
  padding: 10px 20px;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.05);
  text-align: center;
  font-size: 1.4rem;
}
.today-suggestions__more a:hover {
  transition: all 0.15s linear;
  background-color: rgba(0, 0, 0, 0.05);
}

.footer {
  padding: 42px 37px;
}
.footer__main-policies {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.footer__main-policies-item {
  padding: 0 25px;
  position: relative;
}
.footer__main-policies-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.65);
  font-size: 1.2rem;
}
.footer__main-register {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__main-register-item {
  margin: 1rem;
  width: 12rem;
  height: 4.5rem;
}
.footer__main-register-img {
  width: 100%;
  height: 100%;
  background-image: url(../images/footer/1.png);
  background-size: 551.6666666667% 477.7777777778%;
  background-position: 14.3911439114% 99.4117647059%;
}
.footer__main-company, .footer__main-description {
  text-align: center;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.8;
}
.footer__main-company {
  margin: 8px 0 25px;
}

@media (max-width: 1023px) {
  main {
    margin-top: 0;
  }

  .header__navbar {
    display: none;
  }

  .header__navbar-bottom {
    display: none;
  }

  .header__search-inner {
    flex-direction: row-reverse;
    padding: 3px;
  }

  .header__search-button {
    background-color: transparent;
    color: #d0011b;
    padding: 0 10px;
  }

  .header__search-inner input {
    background-color: transparent;
  }
  .header__search-inner input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d0011b;
  }
  .header__search-inner input::-moz-placeholder {
    /* Firefox 19+ */
    color: #d0011b;
  }
  .header__search-inner input:-ms-input-placeholder {
    /* IE 10+ */
    color: #d0011b;
  }
  .header__search-inner input:-moz-placeholder {
    /* Firefox 18- */
    color: #d0011b;
  }

  .header {
    transition: all 0.5s linear;
    height: 70px;
    background: rgba(255, 255, 255, 0.2);
    padding: 0 2rem;
  }
  .header__logo {
    display: none;
  }

  .header-mobile {
    transition: all 0.5s linear;
    background: #fff !important;
  }
  .header-mobile .header__cart-link {
    color: #d0011b;
  }
  .header-mobile .header__search-inner {
    background-color: #75757580;
    color: #d0011b;
  }

  .header__search-inner-camera {
    display: block;
    margin-right: 5px;
    color: #d0011b;
    font-size: 25px;
    transform: translateY(3px);
  }

  .header__cart {
    transform: translateY(3px);
  }

  .banner__carousel {
    width: 100%;
  }
  .banner__left {
    width: 100%;
  }
  .banner__right {
    display: none;
  }

  .header {
    padding: 0 1rem;
  }
  .header__cart-inner {
    padding-right: 0;
  }
  .header__cart-list {
    display: none;
  }
  .header .header__search-inner {
    font-size: 1.3rem;
  }
  .header .header__search-inner-camera {
    font-size: 22px;
    transform: translateY(3px);
  }

  .banner .banner__carousel-list {
    height: 175px;
  }
  .banner .banner__carousel-item img {
    width: 100%;
    height: 175px;
  }
  .banner .slick-dots {
    transform: translateY(-8rem);
  }
  .banner .slick-dots button {
    width: 7px;
    height: 7px;
  }
  .banner .banner__bottom-item img {
    width: 35px;
    height: 35px;
  }
  .banner .banner__bottom-item a {
    font-size: 9px;
  }
  .banner .banner__bottom-item a span {
    padding: 0 2px;
  }

  .categories .categories__top h2 {
    font-size: 16px;
  }

  .flash-sale .flash-sale__header-left {
    gap: 0 5px;
  }
  .flash-sale .flash-sale__img {
    width: 9rem;
  }
  .flash-sale .flash-sale__image {
    width: 135px;
    height: 135px;
  }
  .flash-sale .flash-sale__price {
    font-size: 13px;
    color: #d0011b;
    font-weight: 500;
  }
  .flash-sale .flash-sale__price span {
    transform: translateY(1px);
  }
  .flash-sale .flash-sale__sold {
    font-size: 8px;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.15);
  }
  .flash-sale .discount-draw-lager {
    font-size: 1.3rem;
  }
  .flash-sale .discount-draw-lager::after {
    border-width: 41px 20px 6px 20px;
  }
  .flash-sale .discount__percent {
    color: #d0011b;
  }

  .shop-mail .shop-mail__header-mail {
    display: none;
  }
  .shop-mail .shop-mail__ad,
.shop-mail .shop-mail__promotion {
    width: 50%;
  }

  .today-suggestions__top {
    top: 7rem;
  }

  .today-suggestions__item {
    width: calc(100% / 4);
  }

  .today-suggestions__more a {
    width: 95%;
  }

  .footer a {
    font-size: 9px;
  }

  .top-section__right a {
    padding: 0;
    font-size: 1.2rem;
  }

  .top-section__left {
    font-size: 16px;
  }

  .text-gray {
    color: #d0011b;
  }

  .slick-next,
.slick-prev {
    display: none !important;
  }
}
@media (max-width: 740px) {
  .shop-mail .shop-mail__slider {
    display: block;
  }
  .shop-mail .shop-mail__ad {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .shop-mail .shop-mail__promotion {
    width: 100%;
  }
  .shop-mail .shop-mail__promotion .shop-mail__promotion {
    padding: 0;
  }
  .shop-mail .shop-mail__promotion .promotion-group__item span {
    font-size: 1.4rem;
    transform: translateY(0);
  }

  .today-suggestions__item {
    width: calc(100% / 2);
  }

  .footer {
    display: none;
  }

  .footer__main-policies-item a {
    font-size: 8px;
  }

  .p-20 {
    padding: 15px 10px;
  }

  .mt-20 {
    margin-top: 10px;
  }
}
.model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  cursor: pointer;
}
.model img {
  width: 45rem;
}
.model-close {
  position: absolute;
  top: 0;
  right: -2rem;
  font-size: 35px;
  color: #fff;
}

.layer {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99998;
  cursor: pointer;
}

.model-ad {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99997;
  cursor: pointer;
}
.model-ad img {
  width: 8rem;
}
.model-ad-close {
  position: absolute;
  top: 0;
  right: -1rem;
  font-size: 2rem;
  color: #d0011b;
}

@media (max-width: 740px) {
  .model {
    width: 30rem;
  }
}

/*# sourceMappingURL=app.css.map */
